.top_header{
    width: 100%;
    height: 30px;
    background-color:rgba(2, 130, 249, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15%;

    span{
        margin-left: 40px;
        text-transform: uppercase;
        color: white;
        
    }
}
.nav_header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: auto;
    padding: 0px 15%;
    justify-content: space-between;

    nav{
        height: 100%;
        display: flex;
        padding-top: 45px;
        a{
            padding: 0.5rem 0;
            margin: 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            font-size: 1.2rem;
            
            &:hover{
                color: rgba(2, 130, 249, 1);
            }
        }
    }
    input{
        border-style: none;
        border-bottom: 2px solid rgba(2, 130, 249, 1);
    }
}

#jumbotron{
    width: 100%;
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}
