.content{
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15%;
    position: relative;

    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        h1{
            color: white;
            background-color: #0282f9;
            padding: 10px;
            position: absolute;
            top: -25px;
        }

        .comic{
            padding: 0.5rem;
            width: calc(100% / 6 );
            a{
                width: 100%;
                color: white;
                text-decoration: none;
                display: flex;
                flex-direction: column;

                span{
                    margin-top: 10px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }

    button{
        background-color: #0282f9;
        color: white;
        padding: 10px 50px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center
    }
}
