.singol{
    width: 100%;
    height: 80px;
    background-color: #0282f9;
    z-index: 1;
}

.content{
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15%;
    position: relative;

    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        h1{
            color: white;
            background-color: #0282f9;
            padding: 10px;
            position: absolute;
            top: -25px;
        }
        
        .comic{
        padding: 0.5rem;
        width: calc(100% / 6 );
            a{
                width: 100%;
                text-decoration: none;
                display: flex;
                flex-direction: column;

            }
            span{
                color: white;
                margin-top: 10px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
        }

    }

    button{
    background-color: #0282f9;
    color: white;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center
    }

}

/* singol page */
.container_show{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;


    .comic_show{
        position: relative;
        margin-bottom: 100px;
        margin-top: -320px;

        #book,
        #gallery{
            text-transform: uppercase;
            color: white;
            background-color: rgba(0, 169, 217, 1);
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center;
        }

        #book{
            padding: 0 10px;
            top: 0;
        }

        #gallery{
            width: 100%;
            bottom: 0;

        }
    }

    .description{
        width: 100%;
        display: flex;
        .description_left{
            width: 70%;
            #title{
                text-transform: uppercase;
                font-size: 2rem;
            }
            #date{
                width: 100%;
                height: 40px;
                background-color: rgba(85, 186, 89, 1);
                display: flex;
                margin-top: 20px;
                margin-bottom: 10px;

                #price{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px;
                    color: white;
                    border-right: 1px solid black;
                    span{
                        color: lightgrey;

                        a{
                            color: white;
                        }
                    }
                }
                #check{
                    width: 20%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .description_right{
            width: 30%;
            display: flex;
            justify-content: flex-end;
        }
    }
    
    #cont_bott{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        #cont_left{
            width: 45%;
        }
        #cont_right{
            width: 45%;
        }
    }
    /* /singol page */
}


