@import url(https://fonts.googleapis.com/css2?family=Share:wght@400;700&display=swap);* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Share", cursive;
}

.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
  font-weight: 600;
}

.top_header {
  width: 100%;
  height: 30px;
  background-color: #0282f9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15%;
}
.top_header span {
  margin-left: 40px;
  text-transform: uppercase;
  color: white;
}

.nav_header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0px 15%;
  margin: 10px 0px;
  justify-content: space-between;
}
.nav_header a {
  padding: 0.5rem 0;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2rem;
}
.nav_header a:hover {
  color: #0282f9;
}
.nav_header input {
  border-style: none;
  border-bottom: 2px solid #0282f9;
}

#jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.content {
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15%;
  position: relative;
}
.content .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content .container h1 {
  color: white;
  background-color: #0282f9;
  padding: 10px;
  position: absolute;
  top: -25px;
}
.content .container .comic {
  padding: 0.5rem;
  width: calc(100% / 6 );
}
.content .container .comic a {
  width: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.content .container .comic a span {
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.content button {
  background-color: #0282f9;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

#sponsor {
  width: 100%;
  height: 150px;
  background-color: #0282f9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 15%;
}
#sponsor div {
  display: flex;
  align-items: center;
  z-index: 1;
}
#sponsor div img {
  width: 50px;
}
#sponsor div span {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px;
  font-size: 0.8rem;
}

footer {
  width: 100%;
  height: 410px;
  padding: 0px 15%;
  background-image: url(../img/footer-bg.jpg);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
footer #footer_left,
footer #footer_right {
  width: 50%;
}
footer #footer_left {
  display: flex;
}
footer #footer_left .colon_left,
footer #footer_left .colon_center,
footer #footer_left .colon_right {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
footer #footer_left .colon_left h2,
footer #footer_left .colon_center h2,
footer #footer_left .colon_right h2 {
  color: white;
  text-transform: uppercase;
  padding: 15px 0;
}
footer #footer_left .colon_left a,
footer #footer_left .colon_center a,
footer #footer_left .colon_right a {
  color: grey;
  text-decoration: none;
  padding: 1px;
}
footer #footer_right {
  display: flex;
  justify-content: flex-end;
  background-image: url(../../img/dc-logo-bg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
footer .footer_left_bottom {
  padding: 10px;
  width: 50%;
}
footer .footer_left_bottom p {
  color: grey;
}
footer .footer_left_bottom a {
  color: #0282f9;
}

.social {
  width: 100%;
  height: 70px;
  background-color: #303030;
  z-index: 1;
}
.social .social_left,
.social .social_right {
  width: 50%;
  height: 100%;
  background-color: #303030;
  display: flex;
  align-items: center;
}
.social .social_left button,
.social .social_right button {
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #0282f9;
}